{{#each this}}
  <div class='country-box'>
    <img class='country-flag' src='{{flag}}' height='120' width='110' />
    <p class='country-name'>{{name}}</p>
  </div>
  <ul>
    <li><span class='country-data'>Capital: </span>{{capital}}</li>
    <li><span class='country-data'>Population: </span>{{population}}</li>
    <li><span class='country-data'>Languages: </span>{{#each languages}}<span>{{name}}</span>
      {{/each}}</li>
  </ul>{{/each}}